.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    gap: 1em;
    margin: 0;
}

.logo {
    margin-right: auto; 
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  button {
    padding: 20px 50px;
    font-size: 20px;
    text-align: right;
    border: none;
    background-color: rgba(99, 16, 11, 0.44);
    border-radius: 15%;
}

.logo {
    width: 10%;
}

h1, p{
    text-align: center;
}

body {
    font-family: sans-serif;
    margin: 0;
}

h1 {
    font-size: 100px;
    margin-bottom: -20px;
}

p {
    font-size: 30px;
}

.about-divider {
    text-align: center;
}

.home {
    background-color:rgba(99, 16, 11, 0.44);
    display: flex;
}

